{% extends "university_system/achievements/list_base.html" %}
{% load custom_filters %}
{% block list_title %}
    Achievements of {{ department_info.title }}
{% endblock %}

{% block user_profile_button %}
    <a href="{% url "students-profile" id=achievement.user_info_id %}"
       class="btn btn-light float-right">
        <i class="fas fa-user-alt"></i>
    </a>
{% endblock %}

{% block header_muted_text %}
    <a class="btn btn-light" href="{% url "groups-profile" id=achievement.user_info_id|department_id_by_user %}">
        <div class="text-muted">{{ achievement.user_info_id|department_title_by_user }}</div>
    </a>
    /
    <a class="btn btn-light" href="{% url "students-profile" id=achievement.user_info_id %}">
        <div class="text-muted">{{ achievement.user_info_id|user_name }} {{ achievement.user_info_id|user_surname }}</div>
    </a>
{% endblock %}


 {% block cancel_url %}
{% url "faculties-achievements" id=department_info.doc_id%}
{% endblock %}
