{% extends "university_system/achievements/list_base.html" %}
{% load custom_filters %}
{% load static %}
{% block list_title %}
    My achievements
{% endblock %}

{% block create_button %}
    {% if auth_user.token|has_permission:'Scope.achievement, Crud.create' %}
        <a href="{% url "achievements-create" %}" class="btn btn-outline-info btn-block pb-3 pt-3">
            <i class="fas fa-plus"></i>
        </a>
    {% endif %}
{% endblock %}

{% block cancel_url %}
{% url "profile-achievements" %}
{% endblock %}